<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="devBoard">
	<insert id="insert"	parameterType="kr.devmon.devboard.model.DevBoardForm" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
		INSERT INTO DEVBOARD 
			( TITLE
			, CONTENT
			, REG_DTT
			, CATE_ID
			 )
		VALUES (
			  #{title,jdbcType=VARCHAR}
			, #{content,jdbcType=LONGVARCHAR}			
			, NOW()
			, #{cId,jdbcType=INTEGER}
			)
		]]>
	</insert>
	<select id="selectByPrimaryKey" parameterType="java.util.Map" resultType="kr.devmon.devboard.model.DevBoardForm">
		<![CDATA[
		SELECT
				D.ID id
			  , D.TITLE title
			  , D.CONTENT content
			  , D.REG_DTT regDtt
			  , TC.CATE_NAME cName
			  , D.CATE_ID	cId
		FROM	DEVBOARD	D
			  , TBL_CATEGORY TC
		WHERE	ID = #{id,jdbcType=INTEGER}
		AND		D.CATE_ID = TC.CATE_ID
		AND		TC.CF_ID = 'notice'
		
		]]>
	</select>
	<select id="selectList"	parameterType="kr.devmon.devboard.model.DevBoardSearchForm"	resultType="kr.devmon.devboard.model.DevBoardForm">
		SELECT
				D.ID id
			  , D.TITLE title
			  , D.CONTENT content
			  , D.REG_DTT regDtt
			  , TC.CATE_NAME cName
			  , D.CATE_ID cId
		FROM	DEVBOARD D
			  , TBL_CATEGORY TC
		WHERE 	D.CATE_ID = TC.CATE_ID
		AND 	TC.CF_ID = 'notice'
		<if test="cId != null">
		AND 	D.CATE_ID = #{cId,jdbcType=INTEGER}
		</if>
		<if test="qs != null">
		<![CDATA[
		AND		TITLE like CONCAT('%', #{qs,jdbcType=VARCHAR}, '%')
		]]>
		</if>
		<![CDATA[
		LIMIT	#{start,jdbcType=INTEGER},#{end,jdbcType=INTEGER}
		]]>
	</select>
	<delete id="delete" parameterType="java.util.Map">
	<![CDATA[
		DELETE
		FROM	DEVBOARD
		WHERE	ID = #{id,jdbcType=INTEGER}
	]]>
	</delete>
	<update id="update" parameterType="java.util.Map">
		<![CDATA[
		UPDATE	DEVBOARD
		SET		TITLE = #{title,jdbcType=VARCHAR}
			  , CONTENT = #{content,jdbcType=LONGVARCHAR}
			  , CATE_ID = #{cId,jdbcType=INTEGER}
		WHERE	ID = #{id,jdbcType=INTEGER}
		]]>
	</update>
	<select id="selectCount" resultType="int" parameterType="kr.devmon.admin.model.BoardSearchForm">
		SELECT count(*)
		FROM DEVBOARD
	</select>
	<select id="findCate" parameterType="java.util.Map"	resultType="kr.devmon.devboard.model.DevBoardForm">
		SELECT CATE_ID cId
		 	 , CATE_NAME cName
		FROM   TBL_CATEGORY
		WHERE  CF_ID = 'notice'
	</select>
	<select id="findSubCate" parameterType="java.util.Map" resultType="kr.devmon.devboard.model.DevBoardForm">
		SELECT
				CATE_ID cId
			  , CATE_NAME cName
			  , CF_ID cfId
		FROM
				TBL_CATEGORY
		WHERE	CF_ID = #{topCate,jdbcType=INTEGER}
	</select>
</mapper>
